<div class="container">
  <h1>Welcome to TribBuster!</h1>
  <p>Enter in the URL below:</p>

  <form action="/article" method="post">
    <input class="textbox" type="text" name="url" placeholder="Tribune URL">
    <button type="submit" value="submit">Read</button>
  </form>
</div>
